header {
    border: 1px black solid;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#portfolio {
    background-color: black;
    color: whitesmoke;
    height: 100%;
    width: 20vw;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding-right: 0;
    display: flex;
    padding-left: 10vw;
    font-size:20px;
}
   
.menu {
    background-color: gray;
    color: white;
    height: 10%;
    width: calc(100vw - 30vw);
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

#portfolio .tag1 {
    color: whitesmoke;
    position: absolute;
    top: 50%;
}

#portfolio .tag2 {
    color: black;
    background-color: yellow;
    position: absolute;
    top: 80%;
    white-space: nowrap;
}

header #portfolio .tag1 {
    font-size:55px;
}

.dot-header {
    height: 250px;
    width: 400px;
    background-image: radial-gradient(circle, rgb(63, 62, 62) 2px, transparent 6px); /* Increased spacing */
    background-size: 45px 50px; /* Adjusted the size of the dots and spacing */
    position: absolute;
    top: 20%; 
    left: 5%;
}   

header #portfolio .tag1 span {
    font-size: 75px;
    white-space: nowrap;
}

.image1 {
    background-color: rgb(63, 60, 60);
    height: calc(100vw - 10%);
    width: calc(100vw - 30vw);
    position: absolute;
    margin: 0;
    padding-left: 0;
    top: 100vh - 10%;
    right: 0;
    z-index: -1;
}

.container1 {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
}

#about {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    align-content: center;
    margin-left: 50vw;
    margin-right: 15vw;
}

.image2 {
    width: 350px;
    height: 400px;
    background-color: gray;
    position: absolute;
    top: 50%;
    left: 25vw;
    transform: translate(-50%, -50%);
}

.image2-shadow {
    width: 350px;
    height: 400px;
    background-color: black;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(25vw - 30px);
    transform: translate(-50%, -50%);
    z-index: -1    ;
}

.hello {
    font-weight: bold;
    text-align: right;
}

.hello b {
    font-size: 30px;
}

.dot-container {
    height: 95px;
    width: 140px;
    background-image: radial-gradient(circle, rgb(63, 62, 62) .1px, transparent 4px);
    background-size: 10px 20px; 
    position: absolute;
    top: 73%; 
    left: 27%;
}   

/* .wavy-container {
    height: 50px;
    width: 300px;
    margin-top: 40px;
    background:
    linear-gradient(135deg, white 35%, transparent 25%) -25px 0,
    linear-gradient(225deg, white 35%, transparent 25%) -25px 0,
    linear-gradient(315deg, white 35%, transparent 25%),
    linear-gradient(45deg, white 35%, transparent 25%);
    background-size: 50px 50px;
    background-color: black;
} */

.container2 {
    display: flex;
    position: relative;
    justify-content: center;
}

.work-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
}

.work-menu, .work-menu li {
    display: flex;
    gap: 100px;
}

.work-header h1,
.work-header h4 {
    margin-top: 0;
}

.tiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
}

.box {
    height: 400px;
    background-color: gray;
}



