.container{
    background-color: rgb(220, 204, 204);
    height: 100px;
}

.nav-drawer {
    width: 200px;
    height: 80vh;
    background-color: red;
}

.menu {
    font-size: 32px;
    display: none;
}




@media only screen and (max-width: 700px) {
    .container {
        background-color: green;
    }
    .nav-drawer{
        display: none;
    }
    .menu{
        display: block;
    }
}

@media only screen and (max-width: 500px) {
    .container {
        background-color: rgb(187, 148, 8);
    }
    .nav-drawer{
        display: none;
    }
    .menu{
        display: block;
    }
}



/* @media screen and (orientation:portrait){
    body {
        background-color: aquamarine;
    }
}

@media screen and (orientation:landscape){
    body {
        background-color: red;
    }
} */