.container {
    display: flex;
    flex-direction: row; /*defaul inline*/
    /* flex-direction: column; display items in column */
    flex-wrap: nowrap;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.cyan {
    background-color: cyan;
    flex-grow: 2;
}

.magenta {
    background-color: magenta;
}

.flex-item {
    /* width: 500px; */
    height: 50px;
    
}