body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background-color: green;
    width: 50px;
    height: 100px;
    /* transform: translateX(150px); */
    /* transform: translateY(150px); */
    /* transform: translate(50px, 100px); */
    /* transform: translate(100px, 100px); */
    /* transform: rotate(90deg); */
    /* transform: scale(10); */
    /* transform: skew(45deg); */
    transform: rotateZ(115deg);
}