body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background-color: green;
    width: 50px;
    height: 100px;
    /* transform: translateX(150px); */
    /* transform: translateY(150px); */
    /* transform: translate(50px, 100px); */
    /* transform: translate(100px, 100px); */
    /* transform: rotate(90deg); */
    /* transform: scale(10); */
    /* transform: skew(45deg); */
    /* transform: rotateZ(115deg); */
}

.box:hover {
    width: 200px;
    opacity: 0.1;
    background-color: red;
    /* transition: width 2s;
    transition-delay: 1s;
    transition-duration: 2s;
    transition-timing-function: linear; */
    /* transition-delay: 1s; */
    transition: width 1s linear, opacity 1s ease-in-out;

}